version: "3.8"

services:

  mongodb:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data: